*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
      -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img{ user-select: none; }
::-webkit-scrollbar{ width: 10px; }
::-webkit-scrollbar-track{ background: transparent; }
::-webkit-scrollbar-thumb{ background: #ececec; }

:root{
    --black: #212121;
    --hover: #a4c44b;
    --white: #fff;
    --red: #e00e0e;
    --bg: #fff;
    --light-bg: #eee;
    --light-color: #666;

    --border: 1px solid rgba(255, 255, 255, 0.1);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    --box-shadow: 5px 8px 10px rgba(0,0,0,0.1);
}

html{ scroll-behavior: smooth; }
body{
    background: var(--white); 
    color: var(--black); 
}
button:active{
    transform: scale(0.95);
}
body.active{
    --black: #fff;
    --white: #3f3f3f;
    --bg: #262626;
    --light-bg: #333;
    --light-color: #eee;

    --border: 1px solid rgba(255, 255, 255, 0.4);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
section{ margin: 50px 0; }
.thanks{
    height: 100vh;
}
.thanks-info{
    background: #828282;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
}
.thanks-info h1, .thanks-info a{
    color: var(--white);
    margin: 5px;
}
.thanks .desc{
    color: var(--white);
    font-size: 18px;
}
.opa{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
}
.flex{ display: flex; }
.flex-aic{
    display: flex;
    align-items: center;
    gap: 10px;
}
.flex-aic div{
    width: 100%;
}
b{
    font-size: 17px;
    font-weight: 900;
}
.flex-aic-jcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-jcsb{
    display: flex;
    justify-content: space-between;
}
.flex-aic-jcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-aic-jsb{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 13%, 0.801);
    z-index: 50;
}
.loader.loaded{ 
    visibility: hidden;
    opacity: 0;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
}
.loading li {
    user-select: none;
    float: left;
    background: var(--hover);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    color: var(--black);
    animation: animate 1s infinite alternate;
}
@keyframes animate {
    from {
        transform: scale(1);
        translateY:(0)rotate X(0deg);
        box-shadow: 00 rgb(0, 0, 0);
    }
    to {
        transform: scale(1.33);
        translateY:(-25px)rotate X(45deg);
        box-shadow: 00 30px 5px rgb(0, 0, .1);
    }
}
.loading li:nth-child(1){ animation-delay: .1s; }
.loading li:nth-child(2){ animation-delay: .2s; }
.loading li:nth-child(3){ animation-delay: .3s; }
.loading li:nth-child(4){ animation-delay: .4s; }
.loading li:nth-child(5){ animation-delay: .5s; }
.loading li:nth-child(6){ animation-delay: .7s; }
.loading li:nth-child(7){ animation-delay: .7s; }

.menuBtn{ display: none; }
.choice{overflow-x: scroll; }
.choice::-webkit-scrollbar{ height: 5px; }
.hero{
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}
nav{
    width: 100%;
    padding: 20px 10%;
}
nav .logo a{
    color: var(--black);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
nav  ul{
    flex: 1;
    text-align: right;
    margin-right: 20px;
}
nav  ul li{
    display: inline-block;
    margin: 10px;
}
a{ color: inherit; }
nav  ul li a{
    color: var(--black);
    font-weight: 500;
    position: relative;
    padding: 10px 5px;
}
nav  ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background: var(--hover);
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;
}
nav  ul li a.active::before,
nav  ul li a:hover:before{ height: 85px; }
.cart, .Whishlist{
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 15px;
    position: relative;
}
.checkout-btn, .clearCart-btn{
    background: var(--hover);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.checkout-btn.disabled{
    opacity: 0.8;
    pointer-events: none;
}
input[type="submit"]{
    padding: 20px;
    width: 100%;
}
.clearCart-btn{
    background: var(--light-bg);
    color: var(--light-color);
}
.cartAmount{
    position: absolute;
    right: -10px;top: -10px;
    background: var(--hover);
    color: var(--bg);
    font-size: 18px;
    padding: 2px 3px;
    border-radius: 5px;
}
.cart:hover, .Whishlist:hover{ color: var(--hover);}
.overlay{
    position: fixed;
    top: 0;left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 33, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
    transition: all 0.6s;
    display: none;
}

.contact-page.active ~ .overlay, .check-page.active ~ .overlay{ display: block; }
.overflow-pages .heading h1{
    margin-top: 30px;
    font-size: 20px;
    text-transform: capitalize;
}
.overflow-pages .heading .hr {
    height: 2px;
    margin-top: 5px;
}
#add-btns{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}
.item{ 
    border-bottom: 1px solid #d3d3d3;
    padding: 5px;
    margin: 10px;
}
.deleteBtn{ 
    color: var(--red); 
    cursor: pointer;
}

.contact-page{
    position: fixed;
    top: 50%;left: 50%;
    z-index: 200;
    background: var(--white);
    transform: translate(-50%, -50%) scale(0);
    height: 93vh;
    padding: 0 20px;
    border: var(--border);
    transition: all 0.5s;
    display: none;
}
.contact-page .form{
    margin: -15px;
}
.contact-page.active{ 
    transform: translate(-50%, -50%) scale(1);
    display: block; 
}
.contact-page .heading{
    margin-top: -18px;
}
.contact-con p{
    font-size: 15px;
    text-align: center;
}
.contact-con{
    padding: 0 !important;
    width: 350px;
    animation:  opacity 1s ease forwards;
}
.contact-con, .login-page form{
    width: 100%;
    padding: 0 !important;
}
.contact-con input[type="submit"]{  margin-top: 10px; }
.login-page input[type="submit"]{  padding: 5px 0 !important;  }

.signin, .signup{
    color: var(--black);
    position: relative;
    top: 0;left: 0;
    padding: 1rem 2rem;
    height: auto;
    overflow-y: scroll;
    animation:  opacity 1s ease forwards;
}
.signin{ padding-top: 5rem; }
.login-page { width: 400px; }
.login-page p{
    border-radius: 5px;
    color: var(--black);
    text-align: center;
    margin: 1rem 0;
}
.login-page form a small{
    display: block;
    color: var(--black);
    margin-top: 1rem;
    opacity: 0.7;
}

.login-page form small label{
    color: var(--hover);
    cursor: pointer;
}
/*-------- SIGNU---- */
.signup{ display: none; }
#toggle{ 
    appearance: none; 
    display: none;
}
#toggle:checked ~ .signin{ display: none; }
#toggle:checked ~ .signup{ display: block; }
@keyframes opacity{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

.container section details summary{
    padding: 15px;
    background: var(--hover);
    color: var(--white);
    border-bottom: 1px solid var(--white);
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.container section details p{
    font-size: 15px;
    color: var(--black);
    padding: 10px;
    background: #5876c8;
}

.container section details summary::after{
    content: '+';
    position: absolute;
    top: 10px;right: 15px;
    font-size: 30px;
    color: var(--white);
    transition: all 0.2s linear;
}

.container section details[open] summary::after{transform: rotate(135deg); }

.container section details[open] summary{ background: var(--black); }

.removeBtn{
    position: absolute;
    top: 10px;right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    z-index: 10;
    cursor: pointer;
}
.settings{
    position: fixed;
    top: 20%;right: -110px;
    background: var(--black);
    color: var(--white);
    padding: 8px;
    width: 110px;
    border-radius: 5px;
    transition: all 0.3s;
    z-index: 8;
    transition: all 0.5s ease;
}
.settings.active{ right: 0; }
.settings .open-Setting{
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    background: var(--black);
    position: absolute;
    cursor: pointer;
    transform: translateX(-48px);
}
.settings .settings-Con{
    width: 100%;
    font-size: 18px;
    animation:  opacity 1s ease forwards;
}

.settings-Con .theme-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-Con .theme-toggle span{ color: var(--light-color); }

.settings-Con .theme-toggle .toggler{
    height: 20px;
    width: 100px;
    border-radius: 50px;
    background: var(--light-bg);
    position: relative;
    cursor: pointer;
    border: var(--border);
    margin: 0 10px;
}

.settings-Con .theme-toggle .toggler::before{
    position: absolute;
    content: '';
    top: 5px;left: 5px;
    height: 10px;
    width: 10px;
    background: var(--light-color);
    background: #fff;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.settings-Con .theme-toggle.active .toggler::before{ left: 15px; }

.settings-Con .service-icons{
    background: #ccc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    border-radius: 5px;
}
.settings-Con span{ 
    user-select: none;
    cursor: pointer; 
}
.settings-Con span:is(:hover, :active){color: var(--hover);}
.settings-Con .service-icons{ background: none; }
.settings .mode.active{
    background: #828282;
    padding: 5px;
    color: var(--hover);
    border-radius: 5px;
    transition: all 0.3s;
}


.row{
    flex-wrap: wrap;
    position: relative;
}
.col{
    flex-basis: 50%;
    position: relative;
}
.feature-img{
    width: 100%;
    margin-top: 30px;
}
.thhumbnail-img{
    width: 200px;
    position: absolute;
    bottom: 20px; left: 0;
    margin-bottom: -50px;
    border-radius: 50%;
}
.col h1{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
}
.col-two ul a{
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 5px 0;
    font-size: 18px;
}
.col-two .feature-img{ width: 50%;}
.col-two p{ text-align: left;}
.col-two ul li{ list-style: circle;}
.col-two ul a:hover{ 
    color: var(--hover);
    text-decoration: underline;
}
.col a{
    padding: 10px 50px;
    border-radius: 30px;
    background: var(--hover);
    display: inline-block;
    color: var(--black);
    font-weight: 700;
    margin-top: 70px;
    box-shadow: var(--box-shadow);
}

.conten-three{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    width: 100%;
    border: 1px solid var(--black);
    margin: 50px 0;
}
table th{
    padding: 10px 40px;
    color: var(--white);
    background: var(--black);
}
table tr:nth-child(even){ background: #ccc; }
table tr td{ padding: 10px 40px; }

.navBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -120px;
    background: var(--black);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    animation: upDown 0.5s linear infinite;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.navBtn a{ color: var(--hover); }
@keyframes upDown {
    0%{ transform: translateY(-5%); }
    40%{ transform: translateY(-10%); }
    100%{ transform: translateY(-50%); }
}
.navBtn:hover{ animation: upDown 10s linear infinite; }

.feature-puppies, .blogs{
    width: 100%;
    padding: 0 30px;
    margin: 50px 0;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}
.feature-puppies::-webkit-scrollbar{ height: 8px; }
.puppies, .blog{
    position: relative;
    padding: 5px;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 5px;
    min-width: 25%;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 500px;
    overflow: hidden;
    cursor: pointer;
}
.services-p{ min-width: 50%; }
.puppies .image{
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
}
.puppies .image img{
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.puppies p{ font-size: 15px; }
.puppies .image img:hover{ transform: scale(1.2);}
.content{ padding: 10px;}
.content .name{
    text-transform: capitalize;
    text-align: center;
    margin: 5px;
}
.content .name a{ 
    color: var(--black);
    transition: all 0.3s ease;
}
.content-two p{
    margin: 10px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}
.content-two h3{ font-size: 25px; }
.content-two ul{ margin: 10px 0 0 0 ; }
.content .name a:hover{ 
    color: var(--hover);
    text-decoration: underline;
}
.content .price{
    color: var(--hover);
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.discount-price{
    color: #d3d3d3;
    text-decoration: line-through;
}
.content .rates{ color: #ffd700; }
.rates .review-rate{
    font-weight: 100;
    font-size: 15px;
}
.action-btns{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 10px;right: 8px;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    transform: translateX(50px);
}
.action-btns span, .action-btns a{
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: var(--white);
    background: var(--hover);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tooltip, .tooltip-big{
    position: absolute;
    left: -110px;
    text-transform: capitalize;
    background: var(--black);
    color: var(--white);
    font-size: 15px;
    padding: 3px 8px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.tooltip-big{ left: 0;bottom: 40px; }
.tooltip-big li{ margin-top: 5px; }
.tooltip-big::after{
    position: absolute;
    content: '';
    background: var(--black);
    height: 15px;
    width: 15px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
.tooltip::after{
    position: absolute;
    content: '';
    right: -5px;top: 50%;
    background: var(--black);
    height: 15px;
    width: 15px;
    z-index: -1;
    transform: translateY(-50%) rotate(45deg);
}
.action-btns span:hover .tooltip, .rush_sale:hover .tooltip-big{
    opacity: 1;
    visibility: visible;
}
.puppies:hover .action-btns{ transform: translateX(0); }
.services-p .thhumbnail-img{
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    object-fit: cover;
    top: 50%;
    margin-bottom: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.services-p .content{
    padding: 20px;
    margin-top: 30px;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}
.service .icon{
    height: 60px;
    width: 60px;
    background: var(--hover);
    color: var(--white);
    font-size: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.service h3, p{
    font-size: 20px;
    margin: 5px 0;
    text-align: center;
}
.service p{ font-size: 15px;}
.contact .col .thhumbnail-img{
    width: 500px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
    left: 0;
}
form{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
input, textarea, label{
    display: block;
    margin: 5px auto;
    width: 100%;
    color: var(--black);
}
input, textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid #828282;
    padding: 10px;
    color: var(--light-color);
    resize: none;
}
input[type="submit"]{
    background: var(--hover);
    color: var(--white);
    padding: 15px 0;
    font-size: 18px;
    margin-top: 30px;
    border-bottom: 0;
    cursor: pointer;
    transition: 0.5s;
}
input[type="submit"]:hover{ opacity: 0.8; }
input:focus, textarea:focus{
    outline: 1px solid var(--hover);
    border: 1px solid var(--hover);
}
.blog{
    width: 300px;
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid #fdfdfd;
}
.blog .image{ width: 100%; }
.blog .image img{ width: 100%; }
.blog .content{ padding: 10px 20px; }
.blog .content .title a{ color: var(--hover); }
.blog .content .blog-desc{
    font-size: 18px;
    text-align: justify;
}
.newaletter{
    background: #dbeafd;
    padding: 30px 20px;
    color: var(--black);
}
.newaletter .form{
    display: flex;
    flex-wrap: wrap;
}
.newaletter-form{
    display: flex;
}
.newaletter .texts h2{
    font-size: 25px;
    font-weight: 800;
}
.newaletter .texts p{
    font-size: 18px;
}
.newaletter-form .email, .submitBtn{
    height: 45px;
}
.newaletter input[type="submit"]{
    margin-top: 0;
}
footer{
    /* overflow: hidden; */
    padding: 80px 0;
}
footer .links{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .links ul li{ margin: 15px; }
footer .links ul li a{
    color: var(--white);
    padding: 10px;
    background: var(--hover);
    text-transform: capitalize;
    transition: all 0.3s ease;
}
footer .links ul li a:hover{ color: var(--black);}
.pay-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
footer .image{
    height: 45px;
    width: 500px;
    margin: 50px 0 10px 0;
}
footer .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.copyright .social{
    position: relative;
    font-size: 18px;
    color: #5876c8;
}
.social-drop-down{
    position: absolute;
    background: var(--light-bg);
    box-shadow: var(--box-shadow);
    height: auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    bottom: 10px;left: 50px;
    transition: all 0.3s ease;
    transform: translateX(-100%);
    z-index: 10;
    visibility: hidden;
}
.error-box{
    position: relative;
    background: rgba(231, 147, 147, 0.767);
    padding: 10px 15px;
    border-radius: 5px;
    user-select: none;
    margin-bottom: 20px;
}
.error-box::after{
    position: absolute;
    content: '';
    left: 0;top: 0;
    height: 100%;
    width: 3px;
    background: rgba(255, 0, 0, 0.852);
}
.error-box p{
    font-size: 15px;
}
.error-box span{
    font-size: 22px;
    color: rgba(255, 0, 0, 0.813);
}
.error-box h2{
    color: rgba(255, 0, 0, 0.813);
}
.social-drop-down.active{
    transform: translateY(0);
    visibility: visible;
}
.social-drop-down ul li{
    padding: 10px;
    margin: 2px;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
}
.social-drop-down ul li:hover{
    background: var(--bg);

}
.social span{
    font-size: 25px;
    cursor: pointer;
}
.copy{
    color: var(--black);
    font-size: 18px;
}
.copy a{
    color: var(--hover);
    transition: all 0.3s ease;
}
.copy a:hover{ text-decoration: underline;}
.container {
    background: #dbeafd;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: sans-serif;
    padding: 50px 0;
}
.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
.heading h1 {
    font-size: 32px;
    color: var(--black);
}
.heading .hr {
    width: 80px;
    height: 4px;
    background: var(--hover);
    margin-top: 10px;
  }
  .container .carousel-box {
    max-width: 600px;
    background: var(--white);
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px 20px;
  }
  .container .carousel-box .review-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
.container .carousel-box .review-box .client-img { position: relative; }
.container .carousel-box .review-box .client-img .img {
    height: 140px;
    width: 140px;
    border-radius: 100px;
    -webkit-box-shadow: 8px -3px var(--hover);
            box-shadow: 8px -3px var(--hover);
    overflow: hidden;
  }
  .container .carousel-box .review-box .client-img .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .carousel-box .review-box .client-img .dubble-qoute {
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 40px;
    font-size: 50px;
    border-radius: 100px;
    color: var(--white);
    background: var(--hover);
    font-family: sans-serif;
  }
  .container .carousel-box .review-box .client-detail {
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
  }
  .container .carousel-box .review-box .client-detail .name {
    letter-spacing: 4px;
    color: var(--black);
  }
  .container .carousel-box .review-box .client-detail .title {
    font-size: 12px;
    color: var(--hover);
    margin-top: 5px;
}
.container .carousel-box .review-box .review { margin-bottom: 20px; }
.container .carousel-box .review-box .review p {
    color: var(--black);
    font-weight: 500;
    text-align: center;
    line-height: 22px;
  }
  .container .carousel-box .review-box .button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
.container .carousel-box .review-box .button-box .prev { cursor: pointer; }
.container .carousel-box .review-box .button-box .prev div {
    height: 12px;
    width: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-style: solid;
    border-width: 0 0 3px 3px;
    border-color: var(--hover);
  }
  .container .carousel-box .review-box .button-box .next {
    cursor: pointer;
    margin-left: 10px;
  }
  .container .carousel-box .review-box .button-box .next div {
    height: 12px;
    width: 12px;
    border-style: solid;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-width: 3px 3px 0 0;
    border-color: var(--hover);
}
.container .carousel-box .review-box .random-btn {
    font-size: 14px;
    color: var(--hover);
    border: 2px solid var(--hover);
    padding: 3px 8px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.heading{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.gallery{
    min-height: 100vh;
    padding: 20px;
}
.galler-two{ padding-left: 10px; }
.image-container  .item{ 
    position: relative;
    overflow: hidden;
}
.image-container  .item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    transition: 1s;
    z-index: -1;
    opacity: 0;
}
.item:hover::after{
    transform: rotate(5deg) translateY(30px);
    opacity: 1;
}

.item:hover{
    transform: rotate(-5deg) translateY(-30px);
}

.item:hover .item-info{
    bottom: 0;
}
.item-body{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card .item-body img{
    width: 100%;
    height: 100%;
}

.item-body .item-info{
    position: absolute;
    bottom: -380px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    padding: 10px 20px;
    background: #273133;
    color: #fff;
    font-family: Helvetica, sans-serif;
    text-align: justify;
    transition: 0.5s;
}
.desc{
    font-size: 14px;
    text-align: center;
    opacity: 0.6;
}
.item-info span{
    color: var(--hover);
    font-size: 20px;
    cursor: pointer;
}
.image-container .P-name{
    color: var(--white);
}
.gallery .image-container{
    columns: 4 200px;
    column-gap: 15px;
}
.gallery .image-container img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.gallery .image-container img:hover{ border: 4px solid var(--hover); }

.tabs { grid-template-rows: auto 1fr; }
.tabs-content { padding: 2rem 1.5rem; }
  /* hide content */
.image-container { display: none; }
.sidebar .box .btn.live{ background: var(--hover); }
.image-container.live { display: block; }
.sidebar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.sidebar::-webkit-scrollbar{ width: 5px; }
.sidebar .box .title{
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--black);
    text-transform: uppercase;
}
.sidebar #search-box{
    width: 100%;
    padding: 12px;
    color: var(--black);
}
.sidebar .box .btn:hover:not(.live) {
    background-color: var(--light-color);
    color: white;
}
.sidebar .box .btn{
    display: inline-block;
    margin: 10px 0 0 10px;
    background: #f1f1f1;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.4s;
}
.sidebar .box .btn:hover,
.sidebar .box .btn.active{
    background: var(--hover);
    color: var(--black);
}
.sidebar .box .category{
    width: 100%;
    height: 15vh;
    display: inline-block;
    overflow-x: scroll;
}
.login-info{
    background: #f1f1f1;
    padding: 20px;
    font-size: 15px;
    opacity: 0.8;
}
#menu-bar{
    position: fixed;
    top: 20px;left: 20px;
    z-index: 1200;
    height: 30px;
    width: 30px;
    font-size: 20px;
    background: #e9e9e9;
    text-align: center;
    cursor: pointer;
    display: none;
}
.two-sides{
    width: 100%;
    display: flex;
    padding: 0 2%;
    gap: 20px;
}

.deleteItem{
    cursor: pointer;
    color: var(--red);
}
.puppy-items-pay{
    width: 100%;
    max-width: 500px;
    padding: 0 2%;
    overflow: hidden;
}
.puppy-item{
    height: auto;
    max-height: 80vh;
    overflow: scroll;
}
.puppy-details{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.puppy-details-B{
    row-gap: 30px;
    flex-direction: column;
}
.tac{
    position: relative;
    color: var(--white);
    background: var(--hover);
    padding: 10px 0;
    margin: 0 0 20px 0;
    text-align: center;
}
.tac::before{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 2%;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background: var(--hover);
}
.check-page{
    position: fixed;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 60%; 
    height: 80vh;
    padding: 20px;
    background: var(--bg);
    box-shadow: var(--box-shadow);
    z-index: 20;
    transition: all .5s ease;
    display: none;
}
@keyframes checkPAge {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.check-page.active{
    transform: translate(-50%, -50%);
    animation: checkPAge 5s linear ease;
    display: block;
}
.check-page.disabled{
    display: none;
}
.check-page-info{
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
}
.check-page form{ width: 100%; }
.cart-items{
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: auto;
    padding: 10px;
    position: relative;
    gap: 15px;
}
.cart-items .popUp-images{ width: 100px; }
.box{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
.bo-two{ display: flex; }
.top{
    padding: 0 4%;
    border-bottom: 1px solid #ccc;
}
.top h2{ margin: 10px 0; }
.top h2 span{ 
    margin-left: 5px;
    color: silver;
}
.check-payment-lit{ padding: 0 4%; }
.puppy-details-full{
    display: flex;
    gap: 20px;
}
.top a{ color: #828282; }
.box2{
    padding: 10px;
    border-radius: 15px;
}
.div1{
    display: flex;
    flex-wrap: wrap;
}
input{
    margin: 0 5px 0 0;
    display: inline-block;
    width: auto;
}

.popUp-images img{ width: 100%;}
select{
    border: 1px solid #ccc;
    margin: 10px 10px 2px 0;
    padding: 10px;
    font-size: 15px;
}
.popUp-info{
    max-width: 500px;
    background: var(--white);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
.popUpBtns{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.puppy-details > div{ margin: 0 5px; }
.puppy-details > div > ul > li{ margin: 5px; }
.popUp-info .quantity{ margin-right: 20px; }
.popUp-info .quantity input{
    width: 80px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.quantity .price, .T-price{
    font-weight: 600;
    font-size: 20px;
}
.choice input[type="radio"] + span{ color: var(--black); }
.choice input[type="radio"]:checked + span{ color: var(--hover); }
.popUp-info .choice{ font-size: 18px; }
.popUp-info .choice input[type="radio"]{
    appearance: none;
    display: none;
}

.click-popup{
    position: fixed;
    top: 15%;left: 0;
    width: 300px;
    text-align: center;
    border-radius:0 5px 5px 0;
    color: var(--light-bg);
    padding: 20px;
    background: var(--light-color);
    box-shadow: var(--box-shadow);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}
.click-popup.active{
    pointer-events: auto;
    animation: opaity 2s linear forwards;
}
@keyframes opaity {
    0%, 100%{ opacity: 1; }
    20%, 80%{ opacity: 0; }
    40%, 60%{ opacity: 1; }
}
.click-popup span{
    margin-right: 10px;
    font-size: 20px;
}
.empty-cart-message{
    user-select: none;
    padding: 10px;
    flex-direction: column;    
}
.empty-cart-message button{
    margin-top: 20px;
}

@media screen and (max-width: 480px){
    .pages{
        height: 60% !important;
    }
    .flex-aic-jsb.fd{
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
    .flex-aic-jsb.fd div{
        width: 100%;
        background: var(--white);
    }
    .thhumbnail-img{ display: none; }
    .check-page{
        width: 80%;
    }
    .loading li {
        margin: 0;
        padding: 5px 10px;
        font-size: 10px;
    }
    .hero{ height: 100vh; }
    .feature-img{
        margin-top: 50px !important;
        width: 70% !important;
    } 
    .puppies, .blog{
        min-width: 100% !important;
        max-height: 400px;
    }
    .puppies .image{ width: 100%; }
    .services-p .row{ 
        display: block;
    }
    .col-two .feature-img{
        display: none;
    }
    .two-sides{ flex-direction: column; }
    .service{ margin: 0; }
    .services-p .thhumbnail-img{ display: none; }
    form{ width: 350px; }
    footer .links ul{ margin-top: 20px; }
}
@media screen and (max-width: 950px){
    .pages{
        padding: 10px;
        height: 50%;
    }
    .flex-aic-jsb.fd{
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
    .flex-aic-jsb.fd div{
        width: 100%;
    }
    .hero .row.flex{ flex-direction: column-reverse; }
    .feature-img{ 
        margin: 0 auto;
        width: 90%;  
    }
    .feature-img.fd{ 
        margin: 0 auto;
        width: 60%;  
    }
    .col.right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .two-sides{
        justify-content: center;
        flex-wrap: wrap;
    }
    .two-sides-info{
        gap: 15px;
        display: flex;
    }
    .row.flex.fd{
        flex-direction: row;
    }
    .row.flex{
        flex-direction: row;
    }
}
@media screen and (max-width: 750px){
    .loading li {
        margin: 0;
        padding: 5px 10px;
        font-size: 10px;
    }
    .hero .row{ flex-direction: column-reverse; }
    .feature-img{ 
        margin: 0 auto;
        width: 90%;  
    }
    /* .thhumbnail-img{ display: none; } */
    .col h1{ 
        margin-top: 50px;
        font-size: 40px; 
    }
    .col-two .feature-img{
        display: none;
    }
    .navBtn{ bottom: -90px; }
}
@media screen and (max-width:991px){
    .loading li {
        margin: 0;
        padding: 10px 15px;
        font-size: 18px;
    }
    #menu-bar {
        display: inline-block;
        transition: all 0.5s ease-in-out;
    }
    #menu-bar.active{
        left: 300px;top: 0;
    }
    .sidebar{
        left: -350px;
        transition: all 0.5s ease-in-out;
    }
    .sidebar.active{
        box-shadow: 0 0 0 1000vw rgba(0, 0, 0, 0.5);
        left: 0;
    }
}
@media screen and (max-width: 1024px){
    .loading li {
        margin: 0;
        padding: 5px 10px;
        font-size: 10px;
    }
    .hero, nav{ padding: 20px 3%; }
    .thhumbnail-img{
        width: 170px;
        bottom: 60px;
        margin-bottom: -20px;
    }
    .col h1{ font-size: 35px; }
    .col a{ margin-top: 50px; }
    .menuBtn{
        font-size: 20px;
        padding: 5px 8px;
        color: var(--white);
        border-radius: 5px;
        background: var(--hover);
        display: block;
        cursor: pointer;
        z-index: 20;
    }    
    .nav-link{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        transform: translate(-50%, -50%);
        flex-direction: column;
        justify-content: center;
        gap: 0;
        align-items: center;
        display: none;
        transition: all 0.5s;
        perspective: 1000px;
        z-index: 20;
    }
    .nav-link-btn{
        display: flex;
        gap: 10px;
    }
    .nav-link.active{ display: flex;}
    nav  ul li a.active::before,
    nav  ul li a:hover:before{ height: 0; }
    .nav-link li{
        width: 200px;
        text-align: center;
        box-shadow: 2rem 4rem 4rem rgba(0, 0, 0, 0.2);
        transform: rotate(-90deg) rotateY(90deg);
        transform-origin: top right;
        animation: animation1 1s ease forwards;
        opacity: 0;
        background: var(--hover);
        padding: 10px;
    }
    .nav-link li:nth-child(2){
        animation-delay: 0.3s;
        transform-origin: top left;
        transform: rotateZ(90deg) rotateY(-90deg);
    }
    .nav-link li:nth-child(3){ animation-delay: 0.6s; }
    .nav-link li:nth-child(4){
        animation-delay: 0.9s;
        transform-origin: top left;
        transform: rotateZ(90deg) rotateY(-90deg);
    }
    .nav-link li:nth-child(5){ animation-delay: 1.2s; }
    @keyframes  animation1{
        to{
            transform: rotate(0);
            opacity: 1;
        }
    }
    .puppies, .blog{
        min-width: 50%;
        max-height: 600px;
    }
    .puppies .image{ width: 100%; }
    .services-p{ min-width: 100%; }
    .service{ margin: 0; }
    .services-p .thhumbnail-img{
        width: 300px;
        height: 300px;
    }
    .contact .col .thhumbnail-img{ display: none; }
    .contact{
        align-items: center;
        justify-content: center;
    }
}